body {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.box {
    padding-top: 10px;
}
.form-fields {
    padding-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.error-label {
    width: 100%;
    color: #FF0000;
}
.warning-label {
    width: 100%;
    color: #CCCC00;
}
.success-label {
    width: 100%;
    color: #00CC00;
}
.validation-block {
    display: inline-block;
    position: absolute;
    color: #a94442;
    background-color: #eee9e9;
    z-index: 10;
    border-style: groove;
    border-width: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 20%;
    clear: both;
    height:auto;
    overflow:auto;
}
.formly-field-mui {
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
}

.form-inline {
    display: inline-block;

}
.formly-field {display: inline-block;}

.px-nested-panel-body > div {
    display:inline-block;
}

.formly-field-group
{
    display: block;
}

.childrenInline .formly-field-group
{
    display: inline-block !important;
}
