body {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.box {
    padding-top: 10px;
}
.form-label {
    padding-right: 10px;
}
.form-postlabel {
    padding-left: 10px;
}
.form-fields {
    padding-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.error-label {
    color: #FF0000;
}
.success-label {
    color: #00CC00;
}
.validation-block {
    display: inline-block;
}
.validation-message {
    padding-right: 10px;
    display: inline-block;
    color: #a94442;
}