body {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.box {
    padding-top: 10px;
}
/*.panel {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}*/
.form-fields {
    padding-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.error-label {
    color: #FF0000;
}
.success-label {
    color: #00CC00;
}