.idp label
{
    display: inline-block;
}
.menu
{
    display: inline-block;
    margin-right: 10px;
    width: 15%;
}
.menu label
{
    width:100%;
}
.menu select
{
    width:100%;
}
.menu input
{
    width:80%;
}
.form-label {
    padding-right: 10px;
    vertical-align: top;
}
.form-postlabel {
    padding-left: 10px;
    vertical-align: top;
}
.form-mui {
    padding-left: 10px;
    vertical-align: top;
}
.form-inline .radio {
    display: block;
}