<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
		<title>Formular Frontend</title>

		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        
        <link type="text/css" rel="stylesheet" href="css/frontend.css" />
        <link type="text/css" rel="stylesheet" href="../shared/css/bootstrap.css" />
        <link type="text/css" rel="stylesheet" href="../shared/css/idp.css" />
		
        <script src="../node_modules/api-check/dist/api-check.js"></script> <!-- must appear before formly.js dist/-->
		<script src="../node_modules/angular/angular.js"></script>
		<script src="../node_modules/angular-route/angular-route.js"></script>
        <script src="../node_modules/moment/moment.js"></script>
		
		<script src="../node_modules/angular-formly/dist/formly.js"></script>
		<script src="../node_modules/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js"></script>
        <!-- <script src="../shared/dependencies/angular-formly-templates-bootstrap.js"></script> -->

		<script src="js/formulargenerator.js" ></script>
		<script src="js/backendconnector.js" ></script>
        <script src="../shared/js/transformMethods.js" ></script>
		<script src="../shared/js/jsontransformer.js" ></script>                
		<script src="js/renderercontroller.js" ></script>
	</head>

	<body ng-app="formularGenerator">

		<div class="form-group" ng-controller="rendererController">

            <div>
                <div class="menu">
                    <label class="control-label">Formulars:</label>
                    <select id="form-select" class="form-select-control" ng-change="formChanged()" ng-options="item as item.label for item in formList track by item.id" ng-model="selectedForm"></select>
                </div>
                <div class="menu">
                    <label class="control-label" ng-show="isFormularActive">Formular Datas:</label>
                    <select id="data-select" class="form-select-control" ng-change="dataChanged()" ng-options="item as item.label for item in dataList track by item.id" ng-model="selectedData" ng-show="isFormularActive" ng-disabled="isNewFormData"></select>
                </div>
                <div class="menu" ng-show="isFormularActive">
                    <button type="button" ng-click="newFormData()" >+</button>
                    <input type="text" id="dataLabelInputField" ng-model="newDataLabel" ng-show="isFormularActive && isNewFormData"></button>
                </div>
            </div>

            <div class="box idp" ng-show="isFormularActive">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <label>{{formularLabel}}</label>
                    </div>
                    <div class="form-fields">
                        <form name="idpForm" ng-submit="onSubmit()">
  				          <formly-form class="idp" model="formular" fields="formularFields" form="">
                                <p ng-show="isFormularActive">
                                    <div ng-show="isFormularActive">
                                        <button type="submit" ng-disabled="vm.formularFields.$invalid">Submit</button>
                                        <label class="error-label" ng-if="savingError">Content could not be saved.</label>
                                        <label class="warning-label" ng-if="notAllRequiredFieldsAreFilledOut">Warning: Not all required fields are filled out.</label>
                                        <label class="success-label" ng-if="savingSuccess">Content has been saved.</label>
                                    </div>
                                </p>
  				          </formly-form>
			         </form>
                    </div>
                </div>
			</div>

            <h2>Formly Model</h2>
            <pre>{{formular | json}}</pre>
            <h2>IDP Model</h2>
            <pre>{{formularData | json}}</pre>
            <h2>Formly Specification</h2>
            <pre>{{formularFields | json}}</pre>
            <h2> IDP Specification</h2>
            <pre>{{formularSpecification | json}}</pre>
		</div>

        <script type="text/ng-template" id="panel.html">
        
    </script>
	</body>
</html>
