<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
		
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        
        <link type="text/css" rel="stylesheet" href="CSS/bootstrap.css" />
		
        <script src="../node_modules/api-check/dist/api-check.js"></script> <!-- must appear before formly.js dist/-->
		<script src="../node_modules/angular/angular.js"></script>
		<script src="../node_modules/angular-route/angular-route.js"></script>
		
		<script src="../node_modules/angular-formly/dist/formly.js"></script>
		<script src="../node_modules/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js"></script>
		<!--<script src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>-->

		<script src="js/formulargenerator.js" ></script>
		<script src="js/backendconnector.js" ></script>
                <script src="../shared/js/transformMethods.js" ></script>
		<script src="../shared/js/jsontransformer.js" ></script>                
		<script src="js/renderercontroller.js" ></script>

		<title>IDP Project</title>

	</head>

	<body ng-app="formularGenerator">

		<div class="form-group" ng-controller="rendererController">

            <div class="">
                <label class="control-label">Formulars:</label>
                <select class="form-select-control" ng-change="formChanged()" ng-options="item as item.label for item in formList track by item.id" ng-model="selectedForm"></select>
                <label class="control-label" ng-show="isFormularActive">    Formular Datas:</label>
                <select class="form-select-control" ng-change="dataChanged()" ng-options="item as item.label for item in dataList track by item.id" ng-model="selectedData" ng-show="isFormularActive"></select>
            </div>

            <div class="box">
                <div class="panel panel-default">
                    <form ng-submit="onSubmit()">
  				        <formly-form model="formular" fields="formularFields" form="">
                            <p ng-show="isFormularActive">
    				            <button type="submit" ng-disabled="vm.formularFields.$invalid">Submit</button>
                            </p>
  				        </formly-form>
			        </form>
                </div>
			</div>

            <!-- <h2>Model</h2>
            <pre>{{formular | json}}</pre>
            <h2>Fields <small>(note, functions are not shown)</small></h2>
            <pre>{{vm.originalFields | json}}</pre>
            <h2>Form</h2>
            <pre>{{formularFields | json}}</pre> -->
		</div>

	</body>
</html>
